/* Admin.css */
.admin-layout {
  display: flex;
}

.sidebar {
  width: 200px;
  background-color: #333;
  color: white;
  padding: 20px;
}

.admin-content {
  flex: 1;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
}
