.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    border: 2px solid black;
    margin: 0;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 5rem;
}

/* Users.css */
.table {
    border-collapse: collapse;
    width: 100%;
}

.table th,
.table td {
    text-align: left;
    padding: 8px;
}

.table th {
    background-color: #f9fafb;
    font-weight: bold;
}

.table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tr:hover {
    background-color: #f1f5f9;
}

.actions button {
    transition: transform 0.2s;
}

.actions button:hover {
    transform: scale(1.1);
}
