/* Container for the video player */
.video-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Video player element */
  video {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
    box-shadow: 0px 4px 15px rgba(233, 72, 3, 0.3); 
    border-radius: 10px;
  }
  
